*{
    margin: 0;
    padding: 0;
    font-family:'Raleway';
}

.banner{
    width: 100%;
    height: 100%;
    background-image: url('../images/fondo_nike.jpg'), linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0.2));
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 90%;
    margin: auto;
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    left: 50px;
}
.logo{
    width: 120px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 20px;
    position: relative;
}
.navbar ul li ul{
    position: absolute;
    top: 30px;
    right: 0px;
    width: 100px;
    display: none;
}
.navbar ul li:hover ul{
    display: block;
    transition: 0.2s;
}
.navbar ul li ul li{
    padding: 0px;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #b90e0a;
    position: absolute;
    left: 0;
    bottom: -10;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.content{
    width: 100%;
    position: relative;
    top: 45%;
    text-align: center;
    color: #fff;
}
.content h1{
    font-size: 40px;
    margin: 20px;
    text-shadow: 3px 2px #b90e0a;
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 2;
    text-shadow: 2px 2px #000;
}
section{
    height: 100vh;
    scroll-snap-align: start;
}
.container{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}
.section2{
    width: 100%;
    height: 100%;
    background-image:linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0)), url('../images/deliver.jpg');
    background-size: cover;
    background-position: center;
}
.content2{
    width: 100%;
    position: relative;
    top: 0;
    text-align: center;
    color: #fff;
}
.content2 ul li{
    top: 250px;
    margin: auto;
    list-style: none;
    display: inline-block;
    margin: 20px;
    position: relative;
}
.content2 ul li h1{
    text-shadow: 3px 3px #b90e0a;
    
}
.content3{
    width: 100%;
    height: 100%;
    background-image:linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0.2)), url('../images/warehouse.jpg');
    background-size: cover;
    background-position: center;
}
.content3{
    width: 100%;
    position: relative;
    top: 0;
    text-align: center;
    color: #fff;
}
.content3 ul li{
    top: 300px;
    margin: auto;
    list-style: none;
    display: inline-block;
    margin: 20px;
    position: relative;
    color: #fff;
    text-shadow: 2px 2px #b90e0a;
    font-size: large;
}
.content3 ul li a{
    text-decoration: none;
    color: #fff;

}